In [19]:
import sqlite3 
from sqlite3 import Error 
import pandas as pd

In [20]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [21]:
connection = create_connection("SQL_booking_3.db")

Connection to SQLite DB successful

In [22]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [23]:
transaction_bd = """
CREATE TABLE IF NOT EXISTS transaction_bd (
  TX_DATETIME NUMERIC NOT NULL,
  CUSTOMER_ID INTEGER,
  TX_AMOUNT REAL
);
"""

In [24]:
execute_query(connection, transaction_bd)

Query executed successfully

In [25]:
df = pd.read_csv('final_transactions.csv')

In [43]:
df.head()

           TX_DATETIME  CUSTOMER_ID  TX_AMOUNT
0  2023-01-01 00:00:31          596     533.07
1  2023-01-01 00:02:10         4961     808.56
2  2023-01-01 00:07:56            2    1442.94
3  2023-01-01 00:09:29         4128     620.65
4  2023-01-01 00:10:34          927     490.66

In [27]:
df.drop(columns = ['TRANSACTION_ID', 'TERMINAL_ID'], inplace = True)

In [28]:
df.to_sql('transaction_bd', connection, if_exists='replace', index=False)

1048575

## A

In [29]:
data_1 = pd.read_sql('SELECT CUSTOMER_ID FROM transaction_bd GROUP BY CUSTOMER_ID HAVING sum(TX_AMOUNT) > 700000 ORDER BY CUSTOMER_ID asc', connection)
data_1

   CUSTOMER_ID
0          389
1         2249
2         2891
3         3116
4         4163

## B

In [ ]:
data_2 = pd.read_sql('SELECT CUSTOMER_ID, SUM(TX_AMOUNT) as TX_SUM FROM transaction_bd GROUP BY CUSTOMER_ID HAVING sum(TX_AMOUNT) > 200000 and TX_DATETIME between "2023-01-01" and "2023-01-13"  ORDER BY CUSTOMER_ID asc', connection)
data_2

## C

In [ ]:
data_3 = pd.read_sql('SELECT CUSTOMER_ID, COUNT(transaction_id) as tx_cnt FROM transaction_bd WHERE SUBSTRING(CUSTOMER_ID, 1, 1) = "4" GROUP BY CUSTOMER_ID HAVING sum(TX_AMOUNT) > 444', connection)
data_3

## D

In [41]:
data_4 = pd.read_sql('SELECT TX_DATETIME,CUSTOMER_ID,TX_AMOUNT, CASE WHEN sum(TX_AMOUNT)<=50000 THEN "низкая доходность" WHEN sum(TX_AMOUNT)>50000 and sum(TX_AMOUNT)<100000 THEN "средняя доходность" ELSE "высокая доходность" END PROFIT FROM transaction_bd GROUP BY CUSTOMER_ID ORDER BY CUSTOMER_ID asc' , connection)
data_4

              TX_DATETIME  CUSTOMER_ID  TX_AMOUNT              PROFIT
0     2023-01-01 07:19:05            0    1200.41  высокая доходность
1     2023-01-01 05:51:21            1      76.08  высокая доходность
2     2023-01-01 00:07:56            2    1442.94  высокая доходность
3     2023-01-02 17:26:51            3      76.70   низкая доходность
4     2023-01-01 05:34:23            4     916.03  высокая доходность
...                   ...          ...        ...                 ...
4981  2023-01-01 02:09:24         4995     863.29  высокая доходность
4982  2023-01-01 07:28:52         4996     130.16   низкая доходность
4983  2023-01-02 06:29:26         4997     899.90  высокая доходность
4984  2023-01-01 13:02:10         4998     812.16  высокая доходность
4985  2023-01-01 00:37:06         4999     355.90  высокая доходность

[4986 rows x 4 columns]

## E

In [54]:
data_5 = pd.read_sql('WITH TAB as (SELECT TX_DATETIME,CUSTOMER_ID,TX_AMOUNT, CASE WHEN sum(TX_AMOUNT)<=50000 THEN "низкая доходность" WHEN sum(TX_AMOUNT)>50000 and sum(TX_AMOUNT)<100000 THEN "средняя доходность" ELSE "высокая доходность" END PROFIT FROM transaction_bd GROUP BY CUSTOMER_ID ORDER BY CUSTOMER_ID asc) SELECT TAB.PROFIT, count(TAB.PROFIT) as QUANTITY_CUSTOMER_BY_PROFIT FROM TAB GROUP BY PROFIT', connection)
data_5

               PROFIT  QUANTITY_CUSTOMER_BY_PROFIT
0  высокая доходность                         2167
1   низкая доходность                         1812
2  средняя доходность                         1007

## F

In [59]:
data_6 = pd.read_sql('SELECT SUBSTRING (TX_DATETIME, 1, 10) as DATE, sum(TX_AMOUNT) as SUM_BY_DAY FROM transaction_bd GROUP BY DATE ORDER BY DATE asc', connection)
data_6

           DATE  SUM_BY_DAY
0    2023-01-01  4827656.26
1    2023-01-02  4862551.41
2    2023-01-03  5058973.71
3    2023-01-04  4938142.47
4    2023-01-05  5002954.23
..          ...         ...
105  2023-04-16  5299386.81
106  2023-04-17  5100973.31
107  2023-04-18  5233557.39
108  2023-04-19  5194846.44
109  2023-04-20  1795235.72

[110 rows x 2 columns]

In [60]:
connection.close()

## Подготовка дашборда

In [63]:
!pip install dash
!pip install jupyter-dash

Requirement already satisfied: dash in c:\users\ulnv\anaconda3\lib\site-packages (2.9.2)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash) (5.6.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: Flask>=1.0.4 in c:\users\ulnv\anaconda3\lib\site-packages (from dash) (1.1.2)
Requirement already satisfied: click>=5.1 in c:\users\ulnv\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (8.0.4)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\ulnv\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\ulnv\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\ulnv\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.0.3)
Requirement already satisfied: colorama in c:\users\ulnv\anaconda3\lib\site-packages (from click>=5.1->Flask>=1.0.4->dash) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ulnv\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: six in c:\users\ulnv\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ulnv\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: jupyter-dash in c:\users\ulnv\anaconda3\lib\site-packages (0.4.2)
Requirement already satisfied: dash in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (2.9.2)
Requirement already satisfied: requests in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (2.27.1)
Requirement already satisfied: ipykernel in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (6.9.1)
Requirement already satisfied: retrying in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (1.3.4)
Requirement already satisfied: ansi2html in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (1.8.0)
Requirement already satisfied: flask in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (1.1.2)
Requirement already satisfied: ipython in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (8.2.0)
Requirement already satisfied: nest-asyncio in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-dash) (1.5.5)
Requirement already satisfied: dash-table==5.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash->jupyter-dash) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from dash->jupyter-dash) (5.6.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\ulnv\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\ulnv\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.3)
Requirement already satisfied: click>=5.1 in c:\users\ulnv\anaconda3\lib\site-packages (from flask->jupyter-dash) (8.0.4)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\ulnv\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: colorama in c:\users\ulnv\anaconda3\lib\site-packages (from click>=5.1->flask->jupyter-dash) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ulnv\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: six in c:\users\ulnv\anaconda3\lib\site-packages (from plotly>=5.0.0->dash->jupyter-dash) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ulnv\anaconda3\lib\site-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.0.1)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\ulnv\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (6.1)
Requirement already satisfied: jupyter-client<8.0 in c:\users\ulnv\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (6.1.12)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in c:\users\ulnv\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (0.1.2)
Requirement already satisfied: traitlets<6.0,>=5.1.0 in c:\users\ulnv\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (1.5.1)
Requirement already satisfied: decorator in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (3.0.20)
Requirement already satisfied: backcall in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (61.2.0)
Requirement already satisfied: stack-data in c:\users\ulnv\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ulnv\anaconda3\lib\site-packages (from jedi>=0.16->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: pyzmq>=13 in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel->jupyter-dash) (22.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel->jupyter-dash) (4.9.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\ulnv\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel->jupyter-dash) (302)
Requirement already satisfied: wcwidth in c:\users\ulnv\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ulnv\anaconda3\lib\site-packages (from requests->jupyter-dash) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ulnv\anaconda3\lib\site-packages (from requests->jupyter-dash) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ulnv\anaconda3\lib\site-packages (from requests->jupyter-dash) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ulnv\anaconda3\lib\site-packages (from requests->jupyter-dash) (1.26.9)
Requirement already satisfied: pure-eval in c:\users\ulnv\anaconda3\lib\site-packages (from stack-data->ipython->jupyter-dash) (0.2.2)
Requirement already satisfied: asttokens in c:\users\ulnv\anaconda3\lib\site-packages (from stack-data->ipython->jupyter-dash) (2.0.5)
Requirement already satisfied: executing in c:\users\ulnv\anaconda3\lib\site-packages (from stack-data->ipython->jupyter-dash) (0.8.3)

In [ ]:
from dash import Dash, html, dcc
import plotly.express as px

app = Dash()

fig1 = px.bar(data_6, x="DATE", y="SUM_BY_DAY", title = 'Cумма транзакций за день')

fig2 = px.histogram(data_6, x="SUM_BY_DAY" , title='Распределение сумм транзакций за день', nbins=50)

app.layout = html.Div(children=[
    html.H1(children='Данные по совершенным транзакциям'),

    html.Div(children='Сумма транзакций за каждый день'),

    dcc.Graph(
        id='example-graph',
        figure=fig1
    ),
     dcc.Graph(
        id='example-graph1',
        figure=fig2
    )
])

app.run_server()